// font-family
$fontPrincipal: 'DM Sans', sans-serif;

// variaveis de cor
$menuCor: #ffffff;
$brancoPadrao: #ffffff;
$corButton: #181616;
$corHoverButton: ___;
$corSecundaria: ___;

// font-size
$Textfont: 16px;