@use 'header/menuHamburguer';
@use 'section/sectionCampanha';
@use 'config/variaveis';
@use 'config/reset';
@use 'section/faq.scss';


@media screen and (max-width: 767px) {
    header {
        .flex {
            background-color: variaveis.$menuCor;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            padding: 0 16px;
    
            img {
                width: 113px;
                height: 64px;
            }
        }

        nav {  //------------------------------conteúdo do menu
            display: none;
            transition: display 9s;

            ul {
                position:absolute;
                background-color: variaveis.$brancoPadrao;
                z-index: 2;
                width: 100%;
                padding: 15px 0px 24px;
                
                li {
                    text-align: center;
                    font-size: 23px;
                    font-weight: bold;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}