@use "../config/variaveis.scss";

.contacts {
    padding: 48px 16px;
    background-color: variaveis.$corDeFundo;
    
    h2 {
        display: flex;
        justify-content: center;
        font-family: variaveis.$fontPrincipal;
        font-size: 36px;
        font-style: normal;
        font-weight: bold;
        line-height: 46px;
    }

    &__whatsapp{
        width: 100%;
        display: flex;
        padding: 8px 24px 8px 8px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 50px;
        background: variaveis.$black;
        color: variaveis.$brancoPadrao;
        text-transform: none;
        margin: 28px 0 16px 0;

        a {
            color: variaveis.$brancoPadrao;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: variaveis.$fontPrincipal;
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: 18px;
            text-decoration: none;
        }

        img {
            width: 36px;
            height: 36px;
            flex-shrink: 0;
            border-radius: 25px;
            background: #FFF;
        }
    }

    &__phone {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        padding: 16px 0 16px 0;
    }

    &__instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    &__location {

        p{
            color: #000;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: DM Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }
}