@use "../config/variaveis.scss";

section {
  width: 100%;
  .img {
  position: relative;
  width: 100%;
  height: 618px;
  padding: 0 16px;
  background-image: url(../../../dist/images/init.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    background-image: linear-gradient(to top, rgba(90, 190, 174, 0.5), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


  .img__content {
    max-width: 357px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 243px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    h1 {
      font-size: 44px;
      line-height: 50px;
    }

    &--informacao {
      margin: 37px 0 34px;
      line-height: 24px;
      font-size: variaveis.$Textfont;
    }

    &--button {//------------ botão agende sua consulta
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      border-radius: 27px;
      padding: 10px 24px;
      width: 358px;
      height: 54px;
      line-height: 18px;
      gap: 8px;

      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      background-color: #181616;
    }

    &--vagas {
      margin: 8px 0 0;
      font-weight: 700;
      height: 24px;
      padding: 20px 10px;
    }
  }
}
