@use "config/variaveis.scss";

.treatment {
  width: 100%;
  background-color: variaveis.$corDeFundo;
  display: grid;
  gap: 24px;
  padding: 48px 16px;

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40.38px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #d2d2d2;
    cursor: pointer;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;

      &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: 700;
      }

      &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 18px;
        }
      }
    }

    &__description {
      display: flex;
      overflow: hidden;
      max-height: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      transition: max-height 1s ease-in-out;
    }
  }

  .open {
    .treatment__content__title__right {
      transform: rotate(180deg);
    }
    .treatment__content__description {
      max-height: 300px;
    }
  }

  .card {
    display: grid;
    gap: 14px;
    margin: auto;
  }
}
