@use "config/variaveis.scss";

.treatment {
  width: 100%;
  background-color: variaveis.$corDeFundo;
  display: grid;
  gap: 24px;
  padding: 48px 16px;

  h2 {
    margin-top: 33px;
    font-weight: 700;
    font-size: 35.53px;
    line-height: 40.38px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #d2d2d2;
    cursor: pointer;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;

      &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: 700;
      }

      &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 24px;
        }
      }
    }

    &__description {
      display: flex;
      overflow: hidden;
      max-height: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      transition: max-height 1.4s ease;
    }
  }

  .open {
    .treatment__content__title__right {
      transform: rotate(180deg);
    }
    .treatment__content__description {
      max-height: 300px;
    }
  }

  .card {
    display: grid;
    gap: 14px;
    margin: auto;

    li {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;

      img {
        margin-right: 14px;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 auto;

    border-radius: 30px;
    padding: 18px 24px;
    width: 236px;
    height: 54px;
    line-height: 18px;
    gap: 8px;

    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #181616;
  }
  .botao {
    margin-bottom: 27px;
  }
}
